a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rows {
  width: 1120px;
  margin: 0 auto;
  max-width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
}
.logo {
  height: 55px;
}
.serviceProvider {
  padding: 0 40px;
}
.serviceProvider button {
  padding: 8px;
  text-decoration: none;
  background-color: #1d588b;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.login button {
  color: #333333;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: #fff;
}
.register button {
  padding: 8px;
  text-decoration: none;
  background-color: #1d588b;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

ul {
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.navbar {
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}
.navbar_active {
  border-bottom: 1px solid black;
}

.navMenu {
  align-items: center;
  list-style: none;
  text-align: center;
}
.navMenu_active {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}
.navItem {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.navLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}
.navItem :hover {
  border-bottom: 2px solid #09bef0;
}

.menuIcon {
  display: none;
}

@media only screen and (max-width: 660px) {
  .logo {
    height: 55px;
    margin-left: 20px;
  }

  .navMenu {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
    opacity: 0;
    z-index: 1111;
  }

  .navMenu_active {
    flex-direction: column;
    width: 95%;
    list-style: none;
    position: absolute;
    top: 80px;
    opacity: 1;
    z-index: 333;
    padding: 0;
  }

  .navLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navItem {
    width: 100%;
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .login button {
    color: #ffffff;
    background-color: #1d588b;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
  }
  .rows ul {
    background-color: #1d588b;
    margin-top: -24px;
    padding: 30px 0;
    padding: 30px 0;
    width: 100%;
    border-bottom: 1px solid black;
  }
}

/* ADDITIONAL CSS FOR PROFILE NAVBAR */

.profileNavRow {
  width: 1120px;
  margin: 0 auto;
  max-width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topRight,
.topCenter {
  display: flex;
  gap: 24px;
  align-items: center;
}
#search {
  flex: 1 1;
  padding: 8px 0 8px 1.2rem;
  outline: none;
  background-color: transparent;
  color: var(--brand-secondary);
  height: 20px;
  margin: 0;
}
.searchContainer {
  width: 450px;
  display: flex;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 10px;
}
.booking,
.chat,
.notifications,
.profile {
  position: relative;
  cursor: pointer;
  padding: 10px;
}
.booking:hover,
.chat:hover,
.notifications:hover {
  border-radius: 50%;
  box-shadow: #e6ecf2 0px -50px 36px -28px inset;
}
.bookingHover {
  position: absolute;
  color: #2a2a2a;
  background-color: #e6ecf2;
  padding: 8px;
  margin-left: -30px;
  margin-top: 20px;
  border-radius: 2px;
}
.chatHover {
  position: absolute;
  color: #2a2a2a;
  background-color: #e6ecf2;
  padding: 8px;
  margin-left: -15px;
  margin-top: 20px;
  border-radius: 2px;
}
.notificationsHover {
  position: absolute;
  color: #2a2a2a;
  background-color: #e6ecf2;
  padding: 8px;
  margin-left: -44px;
  margin-top: 20px;
  border-radius: 2px;
}
.icon_name {
  margin: 0;
}
.dropdown_menu {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #2a2a2a;

  background-color: #e6ecf2;
  width: 240px;
  margin-left: -204px;
  margin-top: 20px;
}
.personal {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1.5rem;
}
.line {
  border-top: 1px solid #4272a1;
  height: 0;
  overflow: hidden;
}
.dropdown_menu ul {
  padding-left: 3px;
  margin: 0px;
  margin-top: 4px;
  display: block;
  width: 98%;
}

.li_items {
  list-style-type: none;
  display: flex;
  gap: 10px;
  width: auto;
  align-items: center;
  height: 25px;
  padding: 0.5rem 1.5rem;
  color: #2a2a2a;
}
.li_items:hover {
  background-color: #f3f4f6;
}
.dropdown_icon {
  margin-top: 2px;
}

.bookingHover::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #e6ecf2 transparent transparent transparent;
  position: absolute;
  top: -9px;
  right: 26px;
  transform: rotate(180deg);
}

.chatHover::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #e6ecf2 transparent transparent transparent;
  position: absolute;
  top: -9px;
  right: 16px;
  transform: rotate(180deg);
}

.notificationsHover::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #e6ecf2 transparent transparent transparent;
  position: absolute;
  top: -9px;
  right: 45px;
  transform: rotate(180deg);
}
