* {
  max-resolution: 0;
}

h1.test {
  color: #1d588b;
}
.container {
  width: 1136px;
  margin: 56px auto;
  background-color: aliceblue;
}
@media only screen and (max-width: 660px) {
  .container {
    width: 400px;
  }
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  margin: 0;
  padding: 0;
  position: relative;
  outline: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}
