.hr_lines {
  position: relative;
  max-width: 500px;
  text-align: center;
}

.hr_lines:before {
  content: ' ';
  height: 1px;
  width: 160px;
  background: #252d3c;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}
p.hr {
  width: 100%;
  border: 1px solid #c9c8c8;
}

.hr_lines:after {
  content: ' ';
  height: 1px;
  width: 160px;
  background: #252d3c;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
.form {
  background-color: #f2f2f2;
}
h2.h2 {
  text-align: center;
  font-size: 32px;
}
h2.h22 {
  text-align: center;
  font-size: 32px;
  margin: auto;
}
button.google {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: #ffe819;
  font-size: 14px;
  font-weight: bold;
  gap: 5px;
  border-radius: 6px;
}

label {
  font-size: 16px;
}

input[type='text'],
[type='password'] {
  /* width: 100%; */
  padding-left: 10px;
  height: 50px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  margin-top: 5px;
  outline: none;
}
button.signup,
button.login {
  height: 50px;
  width: 100%;
  color: #ffffff;
  background-color: #1d588b;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  outline: none;
}
span.signin,
span.register {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 25px;
}
span.signin button,
span.register button {
  border: none;
  cursor: pointer;
  color: #1d588b;
  font-weight: bold;
  font-size: 16px;
}

/* Css for set password */

.set_password {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}
.set_password_form {
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 6px;
}
.set_password_h2 {
  text-align: center;
  margin-top: 0;
  font-size: 32px;
}
.sub_head {
  text-align: center;
}

.main_content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.leftcontent {
  width: 50%;
  border: 1px solid #c9c8c8;
  padding: 10px;
  border-radius: 8px;
}
.rightcontent {
  border: 1px solid #c9c8c8;
  width: 50%;
  padding: 10px;
  border-radius: 8px;
}
Input.textfield {
  width: 97%;
}
span.title {
  position: absolute;
  margin-top: -23px;
  background-color: #f2f2f2;
  padding-inline: 5px;
}
.textField {
  width: 97%;
  padding-left: 10px;
  height: 50px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  margin-top: 5px;
  outline: none;
  display: flex;
  align-items: center;
  background: white;
}
.verify {
  display: flex;
  align-items: center;
  gap: 5px;
}
